body {
    font-family: Arial;
    margin: 20px;
}

.fornecedor {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

button {
    margin-top: 5px;
}

input {
    margin: 5px 0;
    padding: 6px;
}
