body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.form {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 14px;
    background: #008cff;
    color: white;
    border: none;
    cursor: pointer;
}

button.del {
    background: red;
}

.fornecedor-item {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}
